<%- include("header") -%>
    <div class="container text-center marginTop ">
        <div class="col">
            <h1><%= cityQuery %></h1>
        </div>
        <div>
            <img src="<%=weatherConditionUrl%>" alt="" class="img-fluid rounded">
            <img src="<%=weatherConditionUrl%>" alt="" class="img-fluid rounded">
        </div>
        <div>
            <h2>The temperature in <%= cityQuery %> is "<%= temp %>" degrees Celcius</h2>
        </div>
        <div>
            <form action="/cityQuery" method="post">
                <input type="text" class="mt-3 text-center" placeholder="Search place" name="cityQuery">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
    <div class="container text-center">
        <div class="row mt-5">
            <div class="col">
                <%= dayOne %>
            </div>
            <div class="col">
                <%= dayTwo %>
            </div>
            <div class="col">
                <%= dayThree %>
            </div>
            <div class="col">
                <%= dayFour %>
            </div>
            <div class="col">
                <%= dayFive %>
            </div>
        </div>
    </div>

    <%- include("footer") -%>