<%- include("header") -%>
    <div class="container text-center mt-5 ">
        <div class="col">
            <h1>
                <%= cityQuery %>(<%=currentFinal%>)
            </h1>
        </div>
        <div>
            <img src="<%=weatherConditionUrl%>" alt="" class="img-fluid rounded">
        </div>
        <div>
            <h2>The temperature is <%= temp %> °C</h2>
        </div>

    </div>
    <div class="container text-center">
        <div class="row marginTop">
            <div class="col">
                <h5>
                    <%= dayOne %>(<%=dayOneFinal%>)
                </h5>
                <div>
                    <%= dayOneMinTemp %> °C
                </div>
                <div>
                    <%= dayOneMaxTemp %> °C
                </div>
                <div>
                    <img src="<%=iconDayOne%>" alt="" class="img-fluid rounded">
                </div>
            </div>

            <div class="col">
                <h5>
                    <%= dayTwo %>(<%=dayTwoFinal%>)
                </h5>
                <div>
                    <%= dayTwoMinTemp %> °C
                </div>
                <div>
                    <%= dayOneMaxTemp %> °C
                </div>
                <div>
                    <img src="<%=iconDayTwo%>" alt="" class="img-fluid rounded">
                </div>
            </div>
            <div class="col">
                <h5>
                    <%= dayThree %>(<%=dayThreeFinal%>)
                </h5>
                <div>
                    <%= dayThreeMinTemp %> °C
                </div>
                <div>
                    <%= dayThreeMaxTemp %> °C
                </div>
                <div>
                    <img src="<%=iconDayThree%>" alt="" class="img-fluid rounded">
                </div>
            </div>
            <div class="col">
                <h5>
                    <%= dayFour %>(<%=dayFourFinal%>)
                </h5>
                <div>
                    <%= dayFourMinTemp %> °C
                </div>
                <div>
                    <%= dayFourMaxTemp %> °C
                </div>
                <div>
                    <img src="<%=iconDayFour%>" alt="" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center marginBottom">
        <form action="/cityQuery" method="post">
            <input type="text" class="mt-5 text-center" placeholder="Search place" name="cityQuery">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <%- include("footer") -%>